# 1.Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

### i.For case sentivity

In [1]:
TEN = 10
ten = 10
print(Ten)

NameError: ignored

Example:Here in this example which word python wants that only printed so it takes and below example is for case sentivity

In [2]:
# python takes the word caes sentively 
# For example
Myself= ("BHADRA")
myself=("bhadra")
print(Myself)

BHADRA

### ii We should not use reserved words as variable names

In [3]:
print("hi there")
print="hi there" #as a variable
type(print)
print(print)

hi there

TypeError: ignored

In [4]:
# delete the variable print
del print

### iii When ever we use user input we should mention data type becaus by default it will take as stringe

In [5]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth


print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: devadarshan bhadra
place: banagalore
year_of_birth: 1996

TypeError: ignored

### iv. If we mentioned the datatype of input variable, then we need to remember, while putting the value, we need to put exact mentioned datatype's value

In [ ]:
A=float(input("enter value of A:"))
B=int(input("enter value of B:"))  # 10.5 is float number and we mentioned it integer, and should convert into integer
print(f"sum of A and B is : {A+B}")

### v we cant change empty stringe into a integer

In [ ]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

# 2. Take input A and B and print their sum, mul, div, square of the numbers

In [6]:
# taking the user inputs
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))

# mathematical equations
sum = a + b
mul = a * b
div = a / b
square = a ** 2


# printing the results
print(f"sum of {a} & {b} is: {sum}")
print(f"The 'mul' of {a} & {b} is: {mul}")
print(f"The 'div' of {a} & {b} is: {div}")
print(f"The 'square' of {a} & {b} is: {square}")

Enter 1st number: 100
Enter 2nd number: 200
sum of 100 & 200 is: 300
The 'mul' of 100 & 200 is: 20000
The 'div' of 100 & 200 is: 0.5
The 'square' of 100 & 200 is: 10000

# 3.  How many reserve keywords are there in python and why we should not use them as a variable name.52

https://www.tutorialspoint.com/What-are-Reserved-Keywords-in-Python

-  There are 33 Reserved words in python.
-  Reserved words are particular words that python will take as input and it may cause an error in our coding so it should not be used.Suitable output will not come by using reserved words.

# 4. Create email ids with the user inputs. in the following format
 - lastname.firstname@gmail.com

In [7]:
last_name = ("devadarshan")
first_name = ("bhadra")
print(f"{last_name}.{first_name}@.gmail.com ")

devadarshan.bhadra@.gmail.com

# 5. Try to print the following lines - 
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.

In [8]:
print(f"""
. Hi i'm sunny
. My address is 22\3
. I earn 20$ daily
""")

. Hi i'm sunny
. My address is 22
. I earn 20$ daily

# 6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [17]:
# taking user inputs
first_name = input("enter your first_name: ")
Last_name = input("enter your last_name: ")
door_no = input("enter your door_no: ")
city = input("enter your city: ")
state = input("enter your state: ")
DOB = input("enter your dob:")

pin = input("enter your pin: ")

print(f"student_full_name is:{first_name}{last_name} ")

# User email id is
print(f"{first_name}{last_name}@gmail.com")

# print output

print(f"""
door_number is: {door_no}
city: {city}
state: {state}
pin: {pin}
""")

enter your first_name: deva
enter your last_name: darshan
enter your door_no: 58-11-108
enter your city: vizag
enter your state: AP
enter your dob:22-09-1996
enter your pin: 530009
student_full_name is:deva NM,..
deva NM,..@gmail.com

door_number is: 58-11-108
city: vizag
state: AP
pin: 530009

7. Convert the following -
 * "22.4" into integer
 * "22" into complex no.

## float to integer

In [18]:
a = float(22.4)
print(f"data type before:{type(a)}, value of a {a}")
a = int(22)
print(f"data type after: {type(a)}, value of a {a}")

data type before:<class 'float'>, value of a 22.4
data type after: <class 'int'>, value of a 22

In [19]:
a = int(22)
print(f"data type before:{type(a)}, value of a {a}")
a = complex(a)
print(f"data type after: {type(a)}, value of a {a}")

data type before:<class 'int'>, value of a 22
data type after: <class 'complex'>, value of a (22+0j)